.category-img{
  height:336px;
  width:220px;
}

.crop-img{
  max-height:150px;
  max-width:100%;
}

.large-img{
  max-width:100%;
}

.carousel-img{
    margin: auto;
    padding: 10px;
    max-height:600px;
    max-width:100%;

}

.col-centered{
    float: none;
    margin: 0 auto;
}

